.navbar {
  font-family: "Allura", cursive;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
  font-size: 25px;
}
.brand_name {
  font-size: 45px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu > p {
  margin-left: 15px;
}
.hamburger {
  cursor: pointer;
}
